ul {
  border: 1px solid;
  border-radius: 5px;
  padding: 1em;
}
li {
  display: inline-block;
  padding: 0.5em;
}
li:hover {
  cursor: pointer;
}
img {
  height: 100px;
}
figcaption {
  text-align: center;
}
